<h2>Create Your GeoPal//RockTrack Account</h2>

<form action="/geologists" method="post">
    <input type="text" name="username" placeholder="Username" id="username">
    <br>
    <input type="text" name="password" placeholder="Password" id="password">
    <br><br>
    <input type="submit" name="submit" value="Sign Up">
</form>